@import '../../variables/mixins.scss';
$backColor: black;

.container {
	color: $backColor;
	height: 90vh;
	background: url('https://wallpapershome.ru/images/wallpapers/kosmos-3840x2160-zvezdi-6592.jpg');
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
}

.personalCard {
	border-radius: 20px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(0, 255, 255, 0.171);
	background: linear-gradient(270deg, rgba(18, 177, 177, 0.171), rgb(0, 140, 255));
	padding: 30px;
}

.cardInfo {
	display: flex;
	flex-direction: column;
}

.title {
	// color: rgb(0, 15, 65);
	@include contactsPoints;
}

.mainTitle {
	@include contactsMainTitle;
}

.mail {
	border: none;
	background-color: transparent;
	padding: 0;
}

.mail:hover {
	color: rgb(0, 162, 255);
}

.personalPhoto {
	width: 30vh;
	height: 40vh;
	border-radius: 20px;
}
