.newsPageContainer {
	height: 90vh;
	width: 100%;
}

.containerToSpin {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerToAPOD {
	padding: 20px 100px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.asteroidsContainer {
	width: 100%;
	height: 100%;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
	align-items: center;
}

.image {
	height: 100%;
	width: 50%;
	border-radius: 68px;
	margin-right: 100px;
}

.title {
	font-size: 50px;
}

.description {
	font-size: 27px;
	text-align: justify;
}

.youtube {
	margin-right: 100px;
	width: 840px;
	height: 560px;
}
