@font-face {
	font-family: 'Thin100';
	src: url('./assets/fonts/Raleway/static/Raleway-Thin.ttf');
}

@font-face {
	font-family: 'Thin100Italic';
	src: url('./assets/fonts/Raleway/static/Raleway-ThinItalic.ttf');
}

@font-face {
	font-family: 'ExstraLight200';
	src: url('./assets/fonts/Raleway/static/Raleway-ExtraLight.ttf');
}

@font-face {
	font-family: 'ExtraLight200Italic';
	src: url('./assets/fonts/Raleway/static/Raleway-ExtraLightItalic.ttf');
}

@font-face {
	font-family: 'Light300';
	src: url('./assets/fonts/Raleway/static/Raleway-Light.ttf');
}

@font-face {
	font-family: 'Light300Italic';
	src: url('./assets/fonts/Raleway/static/Raleway-LightItalic.ttf');
}

@font-face {
	font-family: 'Black900';
	src: url('./assets/fonts/Raleway/static/Raleway-Black.ttf');
}

@font-face {
	font-family: 'Regular400';
	src: url('./assets/fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
	font-family: 'Medium500';
	src: url('./assets/fonts/Raleway/static/Raleway-Medium.ttf');
}

@font-face {
	font-family: 'Semibold600';
	src: url('./assets/fonts/Raleway/static/Raleway-SemiBold.ttf');
}

html,
body {
	padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	font-family: 'Regular400', 'Light300', 'Thin100', 'Thin100Italic', 'ExstraLight200',
		'ExtraLight200Italic', 'Light300Italic', 'Medium500', 'Semibold600', 'Black900';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
:before,
:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

@import '~antd/dist/antd.css';
